<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="angleRangeA" value="0"/>
    <add key="KinectA" value="1"/>
    <add key="angleRangeB" value="0"/>
    <add key="KinectB" value="0"/>
    <add key="rotationSleepDuration" value="5000"/>
    <add key="IP" value="0.0.0.0"/>
    <add key="portNo" value="800"/>
  </appSettings>
</configuration>